<li class="media">
   <div class="media-left">
      <a href="#" title="Post">
         <img class="media-object" src="img/electresiti.jpg" alt="Post">
      </a>
   </div>
   <div class="media-body">
      <h3 class="category-title"><b>Электрик</b></h3>
      <strong><b>Электрик</b></strong> – специалист, который занимается установкой, ремонтом и
      обслуживанием
      электросетей и электрооборудования. Его главная задача – обеспечить исправное
      состояние, а также надежную и бесперебойную работу электрических сетей и оборудования.
      <aside class="meta category-meta">
         <div class="pull-left">
            <button type="button" class="btn btn-success" data-toggle="modal"
               data-target="#modalBySantexnik">Подробности</button>
            <!-- Модальное окно -->
            <!-- Модаль -->
            <div class="modal fade" id="modalBySantexnik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Подробности</h4>
                     </div>
                     <div class="modal-body">
                        <p>Локация: </p>
                        <p>Условия: </p>
                        <p>Оплата: </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal"
               data-target="#modalBySantexnikApply">Подать заявку</button>
            <div class="modal fade" id="modalBySantexnikApply" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заявка</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form" onsubmit="return applyHandler(this)">
                           <div class="form-group">
                              <label for="exampleInputName2">Name</label>
                              <input name="Name" type="text" class="form-control" id="exampleInputName2"
                                 placeholder="Jane Doe">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Email</label>
                              <input name="Email" type="email" class="form-control" id="exampleInputEmail2"
                                 placeholder="jane.doe@example.com">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Phone</label>
                              <input name="Phone" type="tel" class="form-control" id="exampleInputtel2"
                                 placeholder="+37529---------">
                           </div>
                           <div class="form-group">
                              <input name="prof" type="hidden" value="santexnik" class="form-control"
                                 id="exampleInputProf2" hidden>
                           </div>
                           <button type="submit" class="btn btn-primary">Send
                              invitation</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </aside>
   </div>
</li>
<li class="media">
   <div class="media-left">
      <a href="#" title="Post">
         <img class="media-object" src="img/santexnik.jpg" alt="Post">
      </a>
   </div>
   <div class="media-body">
      <h3 class="category-title"><b>Сантехник</b></h3>
      <strong>Сантехник</strong> – это специалист, который занимается монтажом, эксплуатацией или ремонтом
      санитарно-технического оборудования.
      Он обеспечивает правильную работу систем отопления, водоснабжения и канализации как
      в жилых домах, так
      и на производстве.
      <aside class="meta category-meta">
         <div class="pull-left">
            <button type="button" class="btn btn-success" data-toggle="modal"
               data-target="#modalBySantexnik">Подробности</button>
            <!-- Модальное окно -->
            <!-- Модаль -->
            <div class="modal fade" id="modalBySantexnik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Подробности</h4>
                     </div>
                     <div class="modal-body">
                        <p>Локация: </p>
                        <p>Условия: </p>
                        <p>Оплата: </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal"
               data-target="#modalBySantexnikApply">Подать заявку</button>
            <div class="modal fade" id="modalBySantexnikApply" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заявка</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form" onsubmit="return applyHandler(this)">
                           <div class="form-group">
                              <label for="exampleInputName2">Name</label>
                              <input name="Name" type="text" class="form-control" id="exampleInputName2"
                                 placeholder="Jane Doe">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Email</label>
                              <input name="Email" type="email" class="form-control" id="exampleInputEmail2"
                                 placeholder="jane.doe@example.com">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Phone</label>
                              <input name="Phone" type="tel" class="form-control" id="exampleInputtel2"
                                 placeholder="+37529---------">
                           </div>
                           <div class="form-group">
                              <input name="prof" type="hidden" value="santexnik" class="form-control"
                                 id="exampleInputProf2" hidden>
                           </div>
                           <button type="submit" class="btn btn-primary">Send
                              invitation</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </aside>
   </div>
</li>
<li class="media">
   <div class="media-left">
      <a href="#" title="Post">
         <img class="media-object" src="img/armaturshik.jpg" alt="Post">
      </a>
   </div>
   <div class="media-body">
      <h3 class="category-title"><b>Арматурщик</b></h3>
      <strong>Арматурщик </strong>- это рабочий строительной специальности, который занимается разработкой и
      изготовлением железных каркасов и
      арматурных сооружений.
      <aside class="meta category-meta">
         <div class="pull-left">
            <button type="button" class="btn btn-success" data-toggle="modal"
               data-target="#modalByArmaturshik">Подробности</button>
            <!-- Модальное окно -->
            <div class="modal fade" id="modalByArmaturshik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Подробности</h4>
                     </div>
                     <div class="modal-body">
                        <p>Локация: </p>
                        <p>Условия: </p>
                        <p>Оплата: </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal"
               data-target="#modalByArmaturshikApply">Подать
               заявку</button>
            <div class="modal fade" id="modalByArmaturshikApply" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заявка</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form" onsubmit="return applyHandler(this)">
                           <div class="form-group">
                              <label class="control-label" for="exampleInputName2">Name</label>
                              <input name="Name" type="text" class="form-control" id="exampleInputName2"
                                 placeholder="Jane Doe">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Email</label>
                              <input name="Email" type="email" class="form-control" id="exampleInputEmail2"
                                 placeholder="jane.doe@example.com">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Phone</label>
                              <input name="Phone" type="tel" class="form-control" id="exampleInputtel2"
                                 placeholder="+37529---------">
                           </div>
                           <div class="form-group">
                              <input name="prof" type="hidden" value="armaturshik" class="form-control"
                                 id="exampleInputProf2" hidden>
                           </div>
                           <button type="submit" class="btn btn-primary">Send
                              invitation</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </aside>
   </div>
</li>
<li class="media">
   <div class="media-left">
      <a href="#" title="Post">
         <img class="media-object" src="img/ekskovatorshik.jpg" alt="Post">
      </a>
   </div>
   <div class="media-body">
      <h3 class="category-title"><b>Экскаваторщик</b></h3>
      <strong>Экскаваторщик</strong> - управляет одноковшовым экскаватором на гусеничном или колесном ходу
      при строительстве дорог, каналов,
      котлованов, плотин, подземных коммуникаций, траншей, укрытий, хранилищ и т.д.;
      производит выемку грунта, его перемещение
      и укладку в отвал или в транспортные средства.
      <aside class="meta category-meta">
         <div class="pull-left">
            <button type="button" class="btn btn-success" data-toggle="modal"
               data-target="#modalByEkskovatorshik">Подробности</button>
            <!-- Модальное окно -->
            <div class="modal fade" id="modalByEkskovatorshik" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Подробности</h4>
                     </div>
                     <div class="modal-body">
                        <p>Локация: </p>
                        <p>Условия: </p>
                        <p>Оплата: </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal"
               data-target="#modalByEkskovatorshikApply">Подать
               заявку</button>
            <div class="modal fade" id="modalByEkskovatorshikApply" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заявка</h4>
                     </div>
                     <div class="modal-body">
                        <form class="form" onsubmit="return applyHandler(this)">
                           <div class="form-group">
                              <label class="control-label" for="exampleInputName2">Name</label>
                              <input name="Name" type="text" class="form-control" id="exampleInputName2"
                                 placeholder="Jane Doe">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Email</label>
                              <input name="Email" type="email" class="form-control" id="exampleInputEmail2"
                                 placeholder="jane.doe@example.com">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail2">Phone</label>
                              <input name="Phone" type="tel" class="form-control" id="exampleInputtel2"
                                 placeholder="+37529---------">
                           </div>
                           <div class="form-group">
                              <input name="prof" type="hidden" value="ekskovatorshik" class="form-control"
                                 id="exampleInputProf2" hidden>
                           </div>
                           <button type="submit" class="btn btn-primary">Send
                              invitation</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </aside>
   </div>
</li>
   <li class="media">
      <div class="media-left">
         <a href="#" title="Post">
            <img class="media-object" src="img/gipsokartonshik.jpg" alt="Post">
         </a>
      </div>
      <div class="media-body">
         <h3 class="category-title"><b>Гипсокартонщик</b></h3>
         <strong>Гипсокартонщик </strong>- это специалист по работе с гипсокартоном, который может установить и
         отремонтировать потолки, стены и
         другие конструкции из этого строительного материала.
         <aside class="meta category-meta">
            <div class="pull-left">
               <button type="button" class="btn btn-success" data-toggle="modal"
                  data-target="#modalByEkskovatorshik">Подробности</button>
               <!-- Модальное окно -->
               <div class="modal fade" id="modalByGipsokartonshik" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                 aria-hidden="true">&times;</span>
                           </button>
                           <h4 class="modal-title" id="myModalLabel">Подробности</h4>
                        </div>
                        <div class="modal-body">
                           <p>Локация: </p>
                           <p>Условия: </p>
                           <p>Оплата: </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pull-right">
               <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#modalByGipsokartonshikApply">Подать
                  заявку</button>
               <div class="modal fade" id="modalByGipsokartonshikApply" tabindex="-1" role="dialog"
                  aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                 aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title" id="myModalLabel">Заявка</h4>
                        </div>
                        <div class="modal-body">
                           <form class="form" onsubmit="return applyHandler(this)">
                              <div class="form-group">
                                 <label class="control-label" for="exampleInputName2">Name</label>
                                 <input name="Name" type="text" class="form-control" id="exampleInputName2"
                                    placeholder="Jane Doe">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail2">Email</label>
                                 <input name="Email" type="email" class="form-control" id="exampleInputEmail2"
                                    placeholder="jane.doe@example.com">
                              </div>
                              <div class="form-group">
                                 <label for="exampleInputEmail2">Phone</label>
                                 <input name="Phone" type="tel" class="form-control" id="exampleInputtel2"
                                    placeholder="+37529---------">
                              </div>
                              <div class="form-group">
                                 <input name="prof" type="hidden" value="gipsokartonshik" class="form-control"
                                    id="exampleInputProf2" hidden>
                              </div>
                              <button type="submit" class="btn btn-primary">Send
                                 invitation</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </aside>
      </div>
   </li>